.container {
    padding: 2.4rem;
    display: flex;
    align-items: center;
}
.brand {
    font-size: 2.4rem;
    font-weight: bold;
    width: 4.4rem;
}

.nav ul{
    list-style: none;
    padding:0;
    margin: 0;
    display: flex;

}

.nav li {
    padding: 0 1.4rem;
}


.nav a:hover {
    color: #889DF1;
}